@import '../../../variables.scss';
.authorization {
  padding: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 17px;
    .logo {
      width: 45px;
      height: 45px;
      margin-right: 24px;
    }
    &__head {
      font-family: $adminFont;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      margin: 0px;
      color: $mainBlack;
    }
  }
  &__login-block {
    padding: 18px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    @include adminBlock;
    &__name {
      font-family: $adminFont;
      font-weight: 300;
      font-size: 17.5px;
      line-height: 20px;
    }
    &__form {
      display: flex;
      flex-direction: column;
      &__fieldset {
        legend {
          font-family: $adminFont;
        }
        padding: 8px 0px;
      }
      
      &__buttons-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0px 3px 0px;
      }
    }
  }
}
