@import '../../../variables.scss';
.authorization {
  padding: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 17px;
    .logo {
      width: 45px;
      height: 45px;
      margin-right: 24px;
    }
    &__head {
      font-family: $adminFont;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      margin: 0px;
      color: $mainBlack;
    }
  }
  &__login-block {
    padding: 18px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 1px 0px rgba(90, 97, 105, 0.11),
      0px 2px 4px rgba(90, 97, 105, 0.12), 0px 5px 5px rgba(90, 97, 105, 0.06),
      0px 3.5px 35px rgba(90, 97, 105, 0.1);
    border-radius: 9px;
    &__name {
      font-family: $adminFont;
      font-weight: 300;
      font-size: 17.5px;
      line-height: 20px;
    }
    &__form {
      display: flex;
      flex-direction: column;
      &__fieldset {
        legend {
          font-family: $adminFont;
        }
        padding: 8px 0px;
      }
      &__input {
        font-family: $adminFont;
        min-width: 320px;
        height: 29px;
        border-radius: 3px;
        outline: none;
        border: $adminBorder;
        font-size: 14px;
        line-height: 13px;
        color: $mainBlack;
      }
      &__buttons-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0px 3px 0px;
      }
    }
  }
}
