@import "../../../variables.scss";

.step-one {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  &__form {
    margin-bottom: 16px;
    text-align: end;
  }
}
.map-block {
  padding-top: 32px;
  position: relative;
  color: $mainBlack !important;
  span{

    div{width: 800px !important;
    height: 300px !important;}
  }
  &__description {
    color: $mainBlack;
    font-weight: 300;
  }
}
yamaps,.ymaps-2-1-77-gotoymaps__text, .ymaps-2-1-77-copyright__text,.ymaps-2-1-77-user-selection-none {
  color: $mainBlack !important
}
