@import "../../../variables.scss";
.step-three {
  &__form {
    &__date-selector {
      text-align: end;
    }
    &__additional {
      display: flex;
    }
    &__color-selector,
    &__tariff {
      &__description {
        font-weight: 300;
        font-size: 14px;
      }
    }
  }
}

@media (min-width: $tablet) {
  .step-three {
    &__form {
      &__color-selector,
      &__date-selector,
      &__tariff,
      &__additional {
        margin: 32px 16px;
      }
    }
  }
}
