@import '../../variables.scss';
$pointer: url('../../resources/Pointer.svg'), default;
$telegram: url('../../resources/Telegram.svg');
$facebook: url('../../resources/Facebook.svg');
$instagram: url('../../resources/Instagram.svg');

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  width: 64px;
  height: 100%;
  position: fixed;
  background-color: $mainBlack;
  z-index: 3;
}

.nav-menu {
  z-index: 2;
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparentize($mainBlack, 0.81);
  z-index: 2;
  transform: translateX(-100vw);
  transition: all 300ms ease-in-out;
  &.active {
    transform: translateX(0);
  }

  &__link-list {
    box-sizing: border-box;
    position: absolute;
    padding-left: 32px;
    margin-left: 32px;
    justify-content: center;
    width: 60%;
    height: 100%;
    background-color: $mainBlack;
    display: flex;
    flex-direction: column;
    &__link {
      padding-left: 32px;
      text-decoration: none;
      font-weight: 500;
      font-size: 32px;
      line-height: 37px;
      text-transform: uppercase;
      margin-bottom: 8px;
      cursor: $pointer;
    }
    &__link:hover {
      color: $mainAccent;
    }
    &__social-block {
      margin: 32px;
      display: flex;
      .icon {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 24px;
        mask-size: cover;
        background: $grayLight;
        &.icon-telegram {
          mask: $telegram;
        }
        &.icon-facebook {
          mask: $facebook;
        }
        &.icon-instagram {
          mask: $instagram;
        }
        &:hover {
          background: $mainAccent;
        }
      }
    }
  }
}
@media (max-width: $smart) {
  .nav-bar {
    background: transparent;
  }
  .nav-btn__lang {
    display: none;
    &.active {
      display: block;
    }
  }
  .nav-menu {
    position: fixed;
    background-color: $mainBlack;
    &__link-list {
      left: 0px;
      &__link {
        font-size: 26px;
      }
    }
  }
}
@media (max-width: $tablet) {
  .nav-menu__link-list {
    width: -webkit-fill-available;
    height:-webkit-fill-available ;
  }
}
