@import "../variables.scss";

.order-page {
  display: flex;
  margin-left: 64px;
  flex-direction: column;
  height: 100vh;
  &__nav {
    color: $grayDark;
    border: 1px solid $grayLight;
    padding: 2px;
    &__btn {
      color: $mainAccent;
      background: transparent;
      border: none;
      outline: none;
      &:active,
      &:hover {
        color: darken($mainAccent, 10);
        border: none;
        outline: none;
      }
      &.completed {
        color: $mainBlack;
      }
      &:disabled {
        color: $grayDark;
      }
    }
  }
  &__container {
    flex: 1;
    display: flex;
    &__form {
      flex: 3;
      border-right: 1px solid $grayLight;
      padding: 32px 64px;
    }
    &__total {
      flex: 1;
    }
  }
}
