

$mainAccent: #0ec261;
$mainBlack: #121212;
$grayDark: #999999;
$grayLight: #eeeeee;
$pointer: url("./resources/Pointer.svg"), default;
$desktopMini: 1439px;
$tablet: 1023px;
$smart: 767px;
@font-face {
  font-family: "Roboto";
  src: url("./resources/fonts/Roboto-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: url("./resources/fonts/Roboto-Medium.ttf");

  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./resources/fonts/Roboto-Light.ttf");
  font-weight: 300;
}
path {
  fill: inherit !important;
  stroke: inherit !important;
}
* {
  cursor: url("./resources/Cursor.svg"), default;
  font-family: "Roboto";
  color: $grayLight;
  font-style: normal;
}
body {
  margin: 0;
}

.header {
  @media (max-width: $smart) {
    flex-direction: column-reverse;
    text-align: right;
  }
  display: flex;
  justify-content: space-between;
  padding: 16px;
  &__site-name {
    color: $mainAccent;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
  }
  &__geolocation {
    color: $grayDark;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $grayDark;
  }
}

.main-page {
  @media (max-width: $smart) {
    font-size: 2.5rem;
  }
  display: flex;
  height: 100vh;
  position: relative;
  padding-left: 64px;
  @media (max-width: $smart) {
    padding-left: 16px;
  }
  @media (max-width: $smart) {
    padding-left: 0px;
  }
  &__content {
    @media (max-width: $tablet) {
      width: 100%;
    }
    @media (max-width: $smart) {
      font-size: 2.5rem;
      height: 100vh;
    }
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__info-block {
      @media (max-width: $desktopMini) {
        padding: 32px;
      }
      @media (max-width: $smart) {
        padding: 0px;
      }
      padding-left: 64px;
      &__heading {
        @media (max-width: $smart) {
          font-size: 2.5rem;
          padding-left: 16px;
        }
        font-weight: bold;
        font-size: 70px;
        color: $mainBlack;
        &__eng {
          color: $mainAccent;
        }
      }
      &__text {
        @media (max-width: $smart) {
          font-size: 1rem;
          padding-left: 16px;
        }
        font-weight: 300;
        font-size: 26px;
        line-height: 30px;
        color: $grayDark;
      }
    }
  }
}
.big-btn {
  width: 250px;
  height: 48px;
}
.button {
  @media (max-width: $smart) {
    width: 100%;
    border-radius: 0%;
  }
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border-radius: 5px;
  outline: none;
  border: none;
  background: linear-gradient(to right, $mainAccent, darken($mainAccent, 20));
  &:hover {
    background: linear-gradient(
      to right,
      darken($mainAccent, 20),
      darken($mainAccent, 30)
    );
  }
  &:active,
  &:focus {
    background: linear-gradient(
      to right,
      darken($mainAccent, 30),
      darken($mainAccent, 40)
    );
  }
  &:disabled {
    background: $grayLight;
  }
}
.swiper-container {
  @media (max-width: $tablet) {
    display: none;
  }
  flex: 1;
  min-width: 40%;
}
.swiper-slide {
  width: 100% !important;
}
.swiper-button-prev {
  height: 100% !important;
  top: 20px !important;
  color: #fff !important;
  left: 0 !important;
  padding: 5px;
}
.swiper-button-next {
  padding: 5px;
  height: 100% !important;
  top: 20px !important;
  right: 0 !important;
  color: #fff !important;
}
.swiper-button-next,
.swiper-button-prev {
  &:hover,
  :active {
    background-color: transparentize($mainAccent, 0.8);
    cursor: $pointer;
  }
}
.swiper-pagination-bullet {
  background-color: $mainAccent !important;
  cursor: $pointer !important;
}
.slide {
  display: flex;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  &__content {
    background: linear-gradient(45deg, black, transparent);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px;
    &__heading {
      font-weight: 500;
      font-size: 40px;
      line-height: 47px;
    }
    &__text {
      font-weight: 300;
      font-size: 24px;
      line-height: 90%;
    }
    &__btn {
      width: 164px;
      height: 48px;
    }
  }
}
@for $i from 2 through 3 {
  .swiper-slide:nth-of-type(#{$i}) {
    .slide {
      &__content {
        &__btn {
          min-height: 48px;
          background-image: linear-gradient(
            to right,
            adjust-hue($mainAccent, 180deg * ($i - 2) + 20),
            darken(adjust-hue($mainAccent, 180deg * ($i - 2) + 20), 20)
          );
          &:hover {
            background-image: linear-gradient(
              to right,
              darken(adjust-hue($mainAccent, 180deg * ($i - 2) + 20), 20),
              darken(adjust-hue($mainAccent, 180deg * ($i - 2) + 20), 30)
            );
          }
          &:active,
          &:focus {
            background-image: linear-gradient(
              to right,
              darken(adjust-hue($mainAccent, 180deg * ($i - 2) + 20), 30),
              darken(adjust-hue($mainAccent, 180deg * ($i - 2) + 20), 40)
            );
          }
        }
      }
    }
  }
}

.swiper-slide:last-of-type {
  .slide {
    &__content {
      &__btn {
        background-image: linear-gradient(
          to right,
          adjust-hue($mainAccent, 160deg),
          darken(adjust-hue($mainAccent, 160deg), 20)
        );
        &:hover {
          background-image: linear-gradient(
            to right,
            darken(adjust-hue($mainAccent, 160deg), 20),
            darken(adjust-hue($mainAccent, 160deg), 30)
          );
        }
        &:active,
        &:focus {
          background-image: linear-gradient(
            to right,
            darken(adjust-hue($mainAccent, 160deg), 30),
            darken(adjust-hue($mainAccent, 160deg), 40)
          );
        }
      }
    }
  }
}

.footer {
  @media (max-width: $smart) {
    background-color: $mainBlack;
    color: $grayLight;
    flex-direction: column-reverse;
    text-align: right;
  }
  display: flex;
  justify-content: space-between;
  padding: 32px;
  &__copyright {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: $grayDark;
  }
  &__phone-number {
    text-decoration: none;
    font-size: 13px;
    line-height: 15px;
    color: $mainBlack;
    @media (max-width: $smart) {
      color: $mainAccent;
    }
    &:hover {
      @media (max-width: $smart) {
        color: $grayLight;
      }
      color: $mainAccent;
    }
  }
}
