@import "variables";
$pointer: url("./resources/Pointer.svg"), default;

path {
  fill: inherit !important;
  stroke: inherit !important;
}
* {
  cursor: url("./resources/Cursor.svg"), default;
  font-family: "Roboto";
  color: $grayLight;
  font-style: normal;
}
body {
  margin: 0;
}
