$mainAccent: #0ec261;
$mainBlack: #121212;
$grayDark: #999999;
$grayLight: #eeeeee;
$blue: #007bff;
$backgroundAdmin: #f5f6f8;
$grayButton: #becad6;
$red: #c4183c;
$desktopMini: 1439px;
$tablet: 1023px;
$smart: 767px;
$adminFont:'Raleway';
