@import '../../../variables.scss';
.car-list-page {
  @include adminBlock;
  min-height: 414px;
  display: flex;
  flex-direction: column;
  &__container {
    flex: 1 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }
  &__car-card {
    position: relative;
    width: 45%;
    text-align: center;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'img name'
      'img number'
      'img tank'
      'img updated'
      ' colors  colors'
      'description description';
    border: $adminBorder;
    &:hover{
      .mask{
        display: flex;}
    }
    .mask{
      display: none;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 100%;
      width: 100%;
      background: #ffffff8a;
  }
    &__img {
      grid-area: img;
      border-right: $adminBorder;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        max-width: 300px;
      }
    }

    &__name {
      grid-area: name;
    }

    &__number {
      grid-area: number;
      border-top: $adminBorder;
    }

    &__colors {
      grid-area: colors;
      border-top: $adminBorder;
    }

    &__tank {
      grid-area: tank;
      border-top: $adminBorder;
    }

    &__updated {
      grid-area: updated;
      border-top: $adminBorder;
    }

    &__description {
      grid-area: description;
      border-top: $adminBorder;
    }
  }
}
@media(max-width:$tablet){
  .car-list-page__container{
    justify-content: center;
  }
  .car-list-page__car-card{
    width: 100%;
  }
}